<mat-toolbar id="header" role="heading" [class.headerLight]="lightTheme">

  <div id="navSessionInfo">
    <a>
      <img id="header_img" *ngIf="!lightTheme" alt="OpenVidu Logo" src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo.png">
      <img id="header_img" *ngIf="lightTheme" alt="OpenVidu Logo" src="https://raw.githubusercontent.com/OpenVidu/openvidu-call/master/front/openvidu-call/src/assets/images/openvidu_logo_grey.png">
    </a>
    <div id="titleContent" *ngIf="!compact && mySessionId" [class.titleContentLight]="lightTheme">
      <span id="session-title">{{mySessionId}}</span>
    </div>
  </div>

  <div id="navVisitors">
      <button mat-icon-button disabled *ngIf="!this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.visitors)">
          <mat-icon matBadge="{{visitorsNum}}" matBadgeColor="accent"  >remove_red_eye</mat-icon>
      </button>
  </div>

  <div id="navButtons" align="center">
    <button mat-icon-button (click)="micStatusChanged()" id="navMicButton"  *ngIf="localUser.getRole() !== 'SUBSCRIBER' && !this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.audio)">
      <mat-icon *ngIf="localUser && localUser.isAudioActive()" matTooltip="Unpublish your audio">mic</mat-icon>
      <mat-icon *ngIf="localUser && !localUser.isAudioActive()" color="warn" matTooltip="Publish your audio">mic_off</mat-icon>
    </button>
    <button mat-icon-button (click)="camStatusChanged()" id="navCamButton" *ngIf="localUser.getRole() !== 'SUBSCRIBER' && !this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.video)">
      <mat-icon *ngIf="localUser && localUser.isVideoActive()" matTooltip="Unpublish your cam">videocam</mat-icon>
      <mat-icon *ngIf="localUser && !localUser.isVideoActive()" color="warn" matTooltip="Publish your cam">videocam_off</mat-icon>
    </button>
    <button mat-icon-button (click)="screenShare()" id="navScreenButton" *ngIf="localUser.getRole() !== 'SUBSCRIBER' && !this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.screenShare)">
      <mat-icon matTooltip="Choose screen" *ngIf="localUser && localUser.isScreenShareActive()">picture_in_picture</mat-icon>
      <mat-icon matTooltip="Screen share" *ngIf="localUser && !localUser.isScreenShareActive()">screen_share</mat-icon>
    </button>
    <button mat-icon-button (click)="screenShareDisabled()" *ngIf="localUser && localUser.isScreenShareActive()">
      <mat-icon matTooltip="Stop screen share" color="warn">stop_screen_share</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleFullscreen()" *ngIf="localUser && (!this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.fullscreen))">
      <mat-icon matTooltip="Fullscreen">{{fullscreenIcon}}</mat-icon>
    </button>
    <button mat-icon-button (click)="exitSession()" id="navLeaveButton" *ngIf="!this.ovSettings || (this.ovSettings && this.ovSettings[0].toolbarButtons.exit)">
      <mat-icon color="warn" matTooltip="Leave the session">power_settings_new</mat-icon>
    </button>
    <button mat-icon-button id="navChatButton" (click)="toggleChat()" *ngIf="!compact && (!this.ovSettings || (this.ovSettings && this.ovSettings[0].chat))">
      <div *ngIf="showNotification" id="point" [class.pointLight]="lightTheme"></div>
        <mat-icon matBadge="{{newMessagesNum}}" [matBadgeHidden]="newMessagesNum === 0"  matBadgePosition="above before" matTooltip="Chat" matBadgeColor="accent">chat</mat-icon>
    </button>
  </div>
</mat-toolbar>