# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
**/tmp
*/out-tsc
**/openvidu-webcomponent
**/public

# dependencies
**/node_modules

**/projects/openvidu-angular/src/lib/environments
**/projects/openvidu-angular/src/lib/shared
**/projects/openvidu-angular/src/lib/video-room
**/projects/openvidu-angular/src/lib/app-routing.module.ts

# IDEs and editors
**/.idea
**.project
**.classpath
**.c9/
**.launch
**.settings/
**.sublime-workspace

# IDE - VSCode
**.vscode
**.vscode/*
**!.vscode/settings.json
**!.vscode/tasks.json
**!.vscode/launch.json
**!.vscode/extensions.json

# misc
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**npm-debug.log
**yarn-error.log
**testem.log
**/typings
**/*.key
**/*.crt

# System Files
**.DS_Store
**Thumbs.db
