@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

mat-button-toggle-group {
  box-shadow: none !important;
  height: inherit;
}


.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #ffffff !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #d6d6d6d7 !important;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: #9b9b9b !important;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24) !important; 
} /* this will style the thumb, ignoring the track */


/* webcomponent */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
