@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

mat-button-toggle-group{
    box-shadow: none !important;
    height: inherit;

}





