@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'my-theme.scss';

// specify theme class eg: <body class="my-theme"> ... </body>
.my-theme {
  
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}