@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey, 50, 300);

$my-app-accent: mat-palette($mat-amber, 500, 700, A100);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

// use our theme with angular-material-theme mixin
@include angular-material-theme($my-app-theme);

// specify theme class eg: <body class="my-theme"> ... </body>

