<div class="OT_widget-container" [id]="'container-' + this.user.getStreamManager().stream.streamId">

    <app-toolbar *ngIf="isFullscreen" [lightTheme]="lightTheme" [newMessagesNum]="newMessagesNum" [mySessionId]="localUser.getStreamManager().stream.session.sessionId"
        [localUser]="localUser" [compact]="compact" (camButtonClicked)="camStatusChanged()" (micButtonClicked)="micStatusChanged()"
        (exitButtonClicked)="exitSession()" (chatButtonClicked)="toggleChat()" (screenShareClicked)="screenShare()" (screenShareDisabledClicked)="screenShareDisabled()"></app-toolbar>

    <div class="nickname pointer" [class.fullscreen]="isFullscreen">
        <span *ngIf="!editNickname" (click)="toggleNicknameForm()" id="nickname">{{this.user.getNickname()}}</span>
        <span *ngIf="!editNickname && user.isLocal()" (click)="toggleNicknameForm()"> (edit)</span>
        <div *ngIf="editNickname && user.isLocal()" id="dialogNickname">
            <button mat-icon-button (click)="toggleNicknameForm()" id="closeButton">
                <mat-icon matTooltip="Close">highlight_off</mat-icon>
            </button>
            <form id="nicknameForm" class="alternate-theme">
                <mat-form-field color="primary">
                    <input matInput placeholder="Nick: {{user.getNickname()}}" [formControl]="nicknameFormControl" [errorStateMatcher]="matcher"
                        (keypress)="eventKeyPress($event)" autocomplete="off">
                    <mat-error *ngIf="nicknameFormControl.hasError('required')">
                        Nickname is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="nicknameFormControl.hasError('maxlength')">
                        Nickname is <strong>too long!</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>

    <ov-video [streamManager]="user.getStreamManager()" [mutedSound]="mutedSound"></ov-video>
    <div id="statusIcons">
        <mat-icon *ngIf="!this.user.isAudioActive()" id="statusMic">mic_off</mat-icon>
        <mat-icon *ngIf="!this.user.isVideoActive()" id="statusCam">videocam_off</mat-icon>
    </div>
    <button mat-icon-button id="fullscreenButton" (click)="toggleFullscreen()">
        <mat-icon>{{this.fullscreenIcon}}</mat-icon>
    </button>
    <button mat-icon-button id="volumeButton" *ngIf="this.user.isRemote()" (click)="toggleSound()">
        <mat-icon *ngIf="!mutedSound" matTooltip="Mute sound">volume_up</mat-icon>
        <mat-icon *ngIf="mutedSound" color="warn" matTooltip="Unmute sound">volume_off</mat-icon>
    </button>
</div>