<ov-videoconference
	*ngIf="!loading && !serverError"
	[tokens]="tokens"
	[recordingActivityRecordingsList]="recordingList"
	[recordingActivityRecordingError]="recordingError"
	[streamingActivityStreamingError]="streamingError"
	[streamingActivityStreamingInfo]="streamingInfo"
	[activitiesPanelRecordingActivity]="recordingEnabled"
	[toolbarRecordingButton]="recordingEnabled"
	[activitiesPanelStreamingActivity]="streamingEnabled"
	[toolbarStreamingButton]="streamingEnabled"
	(onToolbarLeaveButtonClicked)="onLeaveButtonClicked()"
	(onToolbarStartRecordingClicked)="onStartRecordingClicked()"
	(onActivitiesPanelStartRecordingClicked)="onStartRecordingClicked()"
	(onToolbarStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelStopRecordingClicked)="onStopRecordingClicked()"
	(onActivitiesPanelDeleteRecordingClicked)="onDeleteRecordingClicked($event)"
	(onActivitiesPanelStartStreamingClicked)="onStartStreamingClicked($event)"
	(onActivitiesPanelStopStreamingClicked)="onStopStreamingClicked()"
	(onToolbarStopStreamingClicked)="onStopStreamingClicked()"
	(onNodeCrashed)="onNodeCrashed()"
>
</ov-videoconference>

<div *ngIf="!loading && serverError" class="error">
	<mat-icon>error</mat-icon>
	<span>
		{{ serverError }}
	</span>
</div>
