:root {
	--ov-background-color: #1f2020;
	--ov-surface-color: #ffffff;

	--ov-primary-action-color: #273235;
	--ov-secondary-action-color: #f1f1f1;
	--ov-accent-action-color: #0089ab;

	--ov-error-color: #eb5144;
	--ov-warn-color: #ffba53;

	--ov-text-primary-color: #ffffff;
	--ov-text-surface-color: #1d1d1d;

	--ov-toolbar-buttons-radius: 50%;
	--ov-leave-button-radius: 10px;
	--ov-video-radius: 5px;
	--ov-surface-radius: 5px;
}