#header {
    color: #424242;
  }
  #header_img {
    max-width: 50px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .stream-container {
    padding: 0;
  }

#session-title{
    font-size: 14px;
    margin-right: 10px;
}

#footer{
  padding: 0;
  width: 40%;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#buttonsGroup{
  width: 100%;
}
#buttonsGroup mat-button-toggle{
  margin: auto;
  width: 100%;
}